%article
  %header
    %h2
      = @listing.name
  %p
    %header
      Description:
    = @listing.description
  %p
    %header
      Treated:
      = treated_show_method(@listing)
  %table
    %tr
      %th Width:
      %td= "#{@listing.width} inches wide"
    %tr
      %th Length
      %td= "#{@listing.length} inches long"
    %tr
      %th Price
      %td= number_to_currency(@listing.price)
    %tr
      %th Time on site:
      %td= "#{time_ago_in_words(@listing.offered_on)}"

%h3= link_to("See All Listings", root_path)
